################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUD.WinForm,/FileContentIndex/208e17ea-9d0a-4db8-97c5-403a154e8f01.vsidx
/.vs/CRUD.WinForm,/FileContentIndex/3970787b-216b-42dd-a0f2-de8156f8d374.vsidx
/.vs/CRUD.WinForm,/FileContentIndex/422c72a1-ad34-4c4d-a0aa-945242cb27a3.vsidx
/.vs/CRUD.WinForm,/FileContentIndex/620f3419-c759-4b5f-9832-a849e68cee21.vsidx
*.vsidx
